@media(min-width:1367px) and (max-width:1920px) {
    .mobile-menu-area {
        display: none
    }
    .slider-item {
        top: 50%;
        transform: translateY(-50%)
    }
    .slider-content {
        padding-bottom: 80px;
        padding-right: 150px;
        padding-top: 80px
    }
    .slide-pic-one {
        left: -100px;
        position: relative
    }
    .banner-main {
        position: relative;
        top: 340px;
        z-index: 111
    }
}
@media(min-width:1200px) and (max-width:1366px) {
    .container {
        width: 1200px
    }
    .mobile-menu-area {
        display: none
    }
}
@media(min-width:992px) and (max-width:1199px) {
    .container {
        width: 970px
    }
    .mobile-menu-area {
        display: none
    }
    .slider-item {
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
    }
    .app-detels-img > img {
        margin-left: -13px;
        margin-top: 15px;
        width: 110%
    }
    .app-detels-item {
        margin-bottom: 35px
    }
    .video-section-pic > img {
        width: 295px
    }
    .team-item:hover .team-pic.use-gradient-two::after {
        content: "";
        height: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 0;
        width: 100%
    }
    .download-icon {
        width: 108%
    }
    .contact-address.p-100 {
        padding: 100px 65px
    }
}
@media(min-width:768px) and (max-width:991px) {
    .container {
        width: 750px
    }
    .main-menu-area {
        display: none
    }
    .mobile-menu-area {
        display: block;
    }
    .mean-container .mean-nav {
        background: #666 none repeat scroll 0 0;
        float: left;
        margin-left: 22px;
        margin-top: 65px;
        width: 98%
    }
    .pic-two {
        float: left;
        margin-left: -18px;
        position: absolute;
        width: 176px!important
    }
    .pic-one {
        float: left;
        margin-top: 17px;
        width: 145px!important
    }
    .slider-item {
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
    }
    .slider-content {
        padding: 0
    }
    .slider-content h1 {
        font-size: 36px
    }
    .slider-content p {
        font-size: 16px
    }
    .feature-item {
        background: #fff none repeat scroll 0 0;
        padding: 50px 20px
    }
    .col-md-3.col-sm-6:nth-child(n+3) .feature-item {
        margin-top: 50px
    }
    .feature-item {
        background: #fff none repeat scroll 0 0;
        box-shadow: 0 8px 48px 0 rgba(0, 0, 0, .08);
        padding: 50px 20px
    }
    .about-one {
        display: none
    }
    .about-two {
        margin-top: -6px
    }
    .about-left > h1 {
        font-size: 34px
    }
    .app-detels-img > img {
        margin-left: -41px;
        margin-top: 76px;
        width: 140%
    }
    .video-section-pic > img {
        margin-top: 47px
    }
    #carousel {
        background: #fff none repeat scroll 0 0;
        clear: both;
        height: 350px;
        width: 100%
    }
    .next-prev {
        z-index: 11
    }
    .single-stats-item {
        width: 50%
    }
    .single-stats-item.wow:nth-child(n+3) {
        margin-top: 60px
    }
    .team-item:hover .team-socila.g-2 {
        top: 50%
    }
    .team-item:hover .team-pic.use-gradient-two::after {
        margin-left: 17px;
        margin-top: 20px;
        opacity: 1;
        outline-offset: -20px;
        width: 90%
    }
    .col-md-4.col-sm-4 .pricing-item {
        margin-left: -8px;
        margin-right: -8px
    }
    .pricing-item .pricing-feature {
        right: 7px
    }
    .pricing-item .pricing-feature.use-gradient-two {
        border-top: 7.75rem solid #01c9ff
    }
    .pricing-item .pricing-feature {
        border-left: 7.75rem solid transparent
    }
    .pricing-item .pricing-feature::before {
        right: 11px;
        top: -6.611rem
    }
    .p-100 {
        padding: 60px 20px
    }
    .pricing-feature.use-gradient-four {
        border-left: 7.75rem solid transparent
    }
    .pricing-feature.use-gradient-four {
        border-top: 7.75rem solid #2a7af3
    }
    /*.footer-area {
        padding-top: 150px
    }*/
    .col-md-3.col-sm-6:nth-child(n+3) .team-item {
        margin-top: 50px
    }
    .pricing-item .use-phone.pricing-feature::before {
        top: -7.611rem
    }
    .input-field input {
        margin-left: 15px
    }
    .clear-fix.my-comment-box textarea {
        margin-left: 18px
    }
    .deom-content > p {
        font-size: 12px
    }
    .col-md-6.col-sm-6:nth-child(n+3) .demo-item {
        margin-top: 40px
    }
    .logo h2 a img {
        max-width: 60px;
    }
    .logo h2 {
        padding: 7px 0;
    }
    .mean-container a.meanmenu-reveal {
        top: 32px;
    }
    .mean-container .mean-nav {
        margin-left: 0px;
        margin-right: 0;
        margin-top: 77px;
        width: 100%;
    }
    .screens-common img {
        max-width: 150px;
    }
    .key-feature-col {
        padding: 0 10px 0 10px;
    }
    .header-area .container{
        width: 100%;
    }
    
}
@media(max-width:768px) {
    .lf-so-sec-common {
        width: 100%;
        min-width: 100%;
    }
    .screens-common img {
        max-width: 200px;
    }
    .lsf-container {
        display: block;
        float: left;
        width: 100%;
    }
    .lf-so-sec-left {
        background-color: #222;
        padding: 50px 0 50px 0;
    }
    .lf-so-sec-right {
        padding: 50px 0 50px 0;
    }
    .lf-content-inner {
        width: 500px;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .tm-area {
        padding: 80px 0 80px 0;
    }
    .key-feature-container {
        padding: 50px 0 50px 0;
    }
    h1 {
    font-size: 28px;
    }
    .key-feature-container h1 {
        margin-bottom: 30px;
    }
    .key-feature-col {
        margin-bottom: 30px;
    }
    .news-area {
        padding: 50px 0 50px 0;
    }
    .send-msg {
         margin-bottom: 0;   
    }
    .get-area {
        padding: 80px 0 80px 0;
    }
}
@media(max-width:767px) {
    .container {
        width: 300px
    }
    .header-area .container{
        width: 100%;
    }
    .mobile-menu-area {
        display: block
    }
    .main-menu-area {
        display: none
    }
    .mean-container a.meanmenu-reveal {
        top: 32px;
    }
    .mean-container .mean-nav {
        margin-left: 0px;
        margin-right: 0;
        margin-top: 77px;
        width: 100%;
    }
    .logo h2 a img {
        max-width: 60px;
    }
    .logo h2 {
        padding: 7px 0;
    }
    .send-msg {
         margin-bottom: 0;   
    }
    .slider-item {
        padding: 0;
        text-align: center;
        top: 55%;
        transform: translateY(-50%);
        left: 0
    }
    .home-slide-pic {
        display: none
    }
    .slider-content h1 {
        font-size: 26px
    }
    .slider-content p {
        font-size: 17px;
        margin-bottom: 15px
    }
    .slider-content h1 {
        font-size: 26px;
        margin-bottom: 15px
    }
    .button {
        margin-bottom: 15px
    }
    .col-md-3.col-sm-6:nth-child(n+2) .feature-item {
        margin-top: 50px
    }
    .main-heading > h1 {
        font-size: 25px
    }
    .main-heading > h1::after {
        display: none
    }
    .main-heading::before {
        top: 66px;
        width: 120px
    }
    .main-heading.g-4::before {
        width: 120px
    }
    .main-heading.heading-gradient > h1 {
        margin-bottom: 85px
    }
    .about-left {
        text-align: center
    }
    .about-left > h1 {
        font-size: 30px
    }
    .about-right.f-right {
        display: none
    }
    .main-heading.mobale-heading::after {
        top: 120px
    }
    .main-heading.mobale-heading::before {
        top: 108px;
        width: 120px
    }
    .app-detels-item {
        margin-bottom: 50px;
        text-align: center
    }
    .video-wrapper {
        text-align: center;
        width: 100%
    }
    .video-heading {
        font-size: 32px
    }
    .play-button {
        left: 50%;
        margin-bottom: 30px;
        margin-left: -30px;
        position: relative;
        text-align: center
    }
    .video-text > p {
        color: #f1f1f1;
        font-size: 18px;
        letter-spacing: 1px;
        padding: 0 0 120px
    }
    .video-section-pic > img {
        width: 200px
    }
    .video-section-pic {
        float: none;
        text-align: center
    }
    #carousel {
        height: 300px
    }
    .next-prev {
        z-index: 111
    }
    .single-stats-item {
        width: 100%
    }
    .single-stats-item {
        width: 100%
    }
    .single-stats-item:nth-child(n+2) {
        margin-top: 50px
    }
    .col-md-3.col-sm-6:nth-child(n+2) .team-item {
        margin-top: 50px
    }
    .user-wrapper {
        width: 100%
    }
    .user-pic {
        margin-left: 0
    }
    .user-pic > img {
        width: 100px
    }
    .user-title {
        height: 100px;
        margin-left: 110px;
        padding: 20px 15px;
        width: 250px
    }
    .client-says {
        padding: 40px 0
    }
    .download-icon img {
        margin: 7px 10px;
        width: 200px
    }
    .col-md-4.col-sm-4:nth-child(n+2) .pricing-item {
        margin-top: 40px
    }
    .col-md-4.col-sm-6:nth-child(n+2) .post-item {
        margin-top: 50px
    }
    .post-content {
        padding: 26px 0;
        text-align: center
    }
    .post-content h3 {
        font-size: 20px;
        font-weight: 600
    }
    .p-100 {
        padding: 40px 20px
    }
    /*.footer-area {
        padding-top: 610px
    }*/
    .get-in-tuch > h2 {
        text-align: center
    }
    .contact-address > h2 {
        text-align: center
    }
    .contact-address > p {
        text-align: center
    }
    .footer-menu li a {
        font-size: 14px;
        padding: 5px
    }
    .footer-menu > li::after {
        height: 13px;
        right: -2px;
        top: 7px;
        width: 1px
    }
    .swiper-slide img {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 70%
    }
    .socila-bookmarks {
        text-align: center
    }
    .input-field {
        margin-left: -10px;
        width: 96%
    }
    .clear-fix.my-comment-box textarea {
        margin-left: 12px;
        width: 91%
    }
    .banner-main h2 {
        font-size: 25px;
        line-height: 33px
    }
    .banner-main {
        top: 100px
    }
    .col-md-6.col-sm-6:nth-child(n+2) .demo-item {
        margin-top: 40px
    }
    .key-feature-col {
        padding: 0 10px 0 10px;
        max-width: 100%;
    }
    .get-area {
        padding: 80px 0 80px 0;
    }
    .footer-bottom > p {
        width: 100%;
        text-align: center;
    }
    .footer-menu {
        width: 100%;
        text-align: center;
    }
    .footer-logo {
        padding: 0px 0 20px 0;
    }
    .main-s-logo img{
        width: 350px;
    }
    .logo-s {
        max-width: 350px;
    }
    .main-s-logo img.uk-logo {
        width: 230px;
    }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    .container {
        width: 500px
    }
    .mobile-menu-area {
        display: block
    }
    .main-menu-area {
        display: none
    }
}
@media(max-width:580px) {
    .screens-common {
        flex-wrap: wrap;
    }
    .screens-common img{
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .lf-so-sec-left {
        padding: 20px 0 20px 0;
    }
    .main-s-logo img{
        width: 250px;
    }
    
    .footer-logo img{
        max-width: 250px;
    }
    .logo-s {
        max-width: 280px;
    }
    .main-s-logo img.uk-logo {
        width: 200px;
    }
}
















